* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background-color: black;

}

#container {
    width: 100%;
    display: flex;
    height: 500px;
}

#carrousel {
    width: 30%;
    height: 100%;
    margin-top: 10%;
    margin-left: 15%;
    overflow: hidden;
    position: relative;
    background-size: 60%;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-color: white;
}

#carrouselUp {
    width: 10%;
    height: 100%;
    margin-top: 10%;
    margin-left: 15%;
    overflow: hidden;
    position: relative;
    background-size: 80%;
    background-position: center;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-color: white;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.imageUp, .imageHidden {
    position: absolute;
    width: 100%;
    height: 33.3333%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.imageHidden {
    display: none;
}

.image:nth-child(1) {
    left: -100%;
}

.image:nth-child(2) {
    left: 0;
}

.image:nth-child(3) {
    left: +100%;
}

.imageUp:nth-child(1) {
    top: -33.333%;
}

.imageUp:nth-child(2), .imageHidden:nth-child(1) {
    top: 0;
}

.imageUp:nth-child(3),.imageHidden:nth-child(2) {
    top: +33.333%;
}

.imageUp:nth-child(4),.imageHidden:nth-child(3) {
    top: +66.666%;
}

.imageUp:nth-child(5) {
    top: +100%;
}

#buttonLeft, #buttonRight {
    width: 15%;
    height: 15%;
    background-color: black;
    z-index: 1;
    position: absolute;
    top: 42.5%;
    opacity: 0.5;
}

#buttonLeft {
    left: 2%;
    clip-path: polygon(100% 0%, 100% 100%, 50% 50%, 100% 0%);
}

#buttonRight {
    right: 0;
    clip-path: polygon(50% 50%, 50% 50%, 0% 100%, 0% 0%);
}
